<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>blockchain-todo-list</span>
    </mat-toolbar>
    <div class="container">
      <mat-card class="left">
        <app-todo-list [items]="items$ | async" (itemSelected)="setSelectedItem($event)"></app-todo-list>
      </mat-card>
      <div class="right">
        <div *ngIf="isRightContent('show')">
          <app-todo-item [item]="item" (onDelete)="removeItem()" (onToggleState)="toggleItemState()"></app-todo-item>
        </div>
        <mat-card *ngIf="isRightContent('edit')">
          <app-create-todo-item (create)="save($event)"></app-create-todo-item>
        </mat-card>
      </div>
      <button mat-fab color="primary" (click)="setRightContentType('edit')" id="add-item">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>